.todolist-container {
	margin-top: 100px;
}

.listItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #fff;
	padding-left: 10px;

	div {
		font-weight: bold;
	}

	.actionsBtn {
		display: flex;
		align-items: center;
		button {
			height: 40px;
			width: 40px;
			border: 0;
			cursor: pointer;
		}
		.updateBtn {
			button {
				width: 80px;
				background-color: rgb(190, 240, 190);
			}
		}
		.ok {
			background-color: green;
		}
		.delete {
			background-color: red;
		}
	}
}

.emptyState {
	text-align: center;
	font-size: 80px;
}
